 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-toni-cuenca-585750.jpg");
  background-position: 50% 50%;
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 763px;
  min-height: 273px;
  margin: 167px auto 0 calc(((100% - 1140px) / 2) + -79px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 32px 0 0 64px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 32px calc(((100% - 1140px) / 2) + 457px) 0 calc(((100% - 1140px) / 2) + -57px);
}

.u-section-1 .u-text-4 {
  margin: 0 calc(((100% - 1140px) / 2) + 457px) 60px calc(((100% - 1140px) / 2) + -57px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + -79px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 357px);
    margin-left: calc(((100% - 940px) / 2) + -57px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 357px);
    margin-left: calc(((100% - 940px) / 2) + -57px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + -79px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 247px);
    margin-left: calc(((100% - 720px) / 2) + -57px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 137px);
    margin-left: calc(((100% - 720px) / 2) + -57px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 157px);
    margin-left: calc(((100% - 540px) / 2) + -57px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + -57px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-chevanon-photography-312418.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  margin: 78px 244px 0 211px;
}

.u-section-2 .u-text-2 {
  margin: 78px 174px 60px 140px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 111px;
    margin-right: 144px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 40px;
    margin-right: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 1px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-jessica-lewis-creative-867470.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 877px;
}

.u-section-3 .u-text-1 {
  width: 826px;
  margin: 70px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 78px 854px 0 40px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -417px 131px 0 570px;
}

.u-section-3 .u-text-4 {
  margin: 7px 143px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 694px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 31px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 43px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 474px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 281px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 12px;
    margin-left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 294px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 294px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 294px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 94px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-kaboompics-com-6347.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1197px;
}

.u-section-4 .u-text-1 {
  width: 474px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 50px 195px 0 72px;
}

.u-section-4 .u-text-3 {
  margin: 397px 908px 0 0;
}

.u-section-4 .u-image-1 {
  width: 99px;
  height: 99px;
  background-image: url("images/logo-twitter-png-5860.png");
  background-position: 50% 50%;
  margin: 125px auto 0 232px;
}

.u-section-4 .u-image-2 {
  width: 85px;
  height: 85px;
  background-image: url("images/icons8-facebook-48.png");
  background-position: 50% 50%;
  margin: -92px auto 0 124px;
}

.u-section-4 .u-image-3 {
  width: 79px;
  height: 79px;
  background-image: url("images/logo-ig-png-32464.png");
  background-position: 50% 50%;
  margin: -82px auto 0 23px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 64px 267px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 67px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 708px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 488px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 108px;
  }
}